
*{
	padding:0;
	margin:0;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
}

/*sm to md screens*/
@media screen and (min-width:350px) and (max-width:650px) {
	
 #page-title{
	 font-weight:bolder;
	 font-size:24px;
 }
 
 
 body{	
	
	background-color:#efeff6;
	}
	
	
	#content{
		padding:0px 5px 0 5px;
	}
	
	#sidebar{
		display:none;
	}
	
	#theme-settings-container{
		margin-left:2px;
		margin-right:2px;
	}
	
	#theme-settings-container>img{
		width:40px;
		height:30px;
		
	}
	
	
	#dropdown>img{
		height:30px;
		width:30px;
		border-radius:2px;
	}
	
	/*dropdown creation*/
	
	#dropdown{
		padding:5px 20px 0 0;
		display:inline-block;
	}
	
	#dropdown-content{
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 250px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
		border-radius:5px;
	}
	
	#dropdown-content>div{
		border:collapse;
		margin: 5px 0 5px 0;
	}
	
	#dropdown:hover #dropdown-content{
		display:block;
	}
	
	.dropdown-div{
	  border:collapse;
	  border-width:100%;
	  padding:5px;
	  
	}
	
	.dropdown-div a{
		text-decoration:none;
		color:black;
		font-weight:bold;
	}
	
	.dropdown-div:hover{
		background-color:#a4f2cc;
		cursor:pointer;
	}
	
	 /*end of dropdown css section */
	
	
	#header{
		
		display:flex;
		justify-content:space-around;
		align-items:center;
	    padding:10px;
		border-bottom: solid 2px black;
		font-size:16px;
		
		
	}
	
	#header-img-container{
		
		display:flex;
		justify-content:center;
		align-content:center;
		margin-right:2px;
	}
	
	
	
	#header-img-container>img{
		height:50px;
		width:50px;
		border-radius:10px;
		margin-right:5px;
		
	}
	
	
	#content{
		margin:50px;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		padding: 5px 0;
	}
	
	#content section{
		margin:20px 0 20px 0;
	}
	
	#content section>h2{
		margin:10px 0 10px 0;
	}
	
	#header>#header-img-container span{
		padding:15px 0 0 5px;
		
		
	}


}


/*md to lg*/


@media screen and (min-width:650px) and (max-width:800px){
	
	#page-title{
	 font-weight:bolder;
	 font-size:24px;
 }
 
 
 body{	
	
	background-color:#efeff6;
	}
	
	
	#content{
		padding:0px 5px 0 5px;
	}
	
	#sidebar{
		display:none;
	}
	
	#theme-settings-container{
		margin-left:2px;
		margin-right:2px;
	}
	
	#theme-settings-container>img{
		width:40px;
		height:30px;
		
	}
	
	
	#dropdown>img{
		height:30px;
		width:30px;
		border-radius:2px;
	}
	
	/*dropdown creation*/
	
	#dropdown{
		padding:5px 20px 0 0;
		display:inline-block;
	}
	
	#dropdown-content{
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 250px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
		border-radius:5px;
	}
	
	#dropdown-content>div{
		border:collapse;
		margin: 5px 0 5px 0;
	}
	
	#dropdown:hover #dropdown-content{
		display:block;
	}
	
	.dropdown-div{
	  border:collapse;
	  border-width:100%;
	  padding:5px;
	  
	}
	
	.dropdown-div a{
		text-decoration:none;
		color:black;
		font-weight:bold;
	}
	
	.dropdown-div:hover{
		background-color:#a4f2cc;
		cursor:pointer;
	}
	
	 /*end of dropdown css section */
	
	
	#header{
		
		display:flex;
		justify-content:space-around;
		align-items:center;
	    padding:10px;
		border-bottom: solid 2px black;
		font-size:16px;
		
		
	}
	
	#header-img-container{
		
		display:flex;
		justify-content:center;
		align-content:center;
		margin-right:2px;
	}
	
	
	
	#header-img-container>img{
		height:50px;
		width:50px;
		border-radius:10px;
		margin-right:5px;
		
	}
	
	
	#content{
		margin:50px;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		padding: 5px 0;
	}
	
	#content section{
		margin:20px 0 20px 0;
	}
	
	#content section>h2{
		margin:10px 0 10px 0;
	}
	
	#header>#header-img-container span{
		padding:15px 0 0 5px;
		
		
	}

}


/*lg screens*/

@media screen and (min-width:800px){


.grid{
	display:grid;
}

.flex{
	display:flex;
}



#content-box{
	margin-left:auto;
	margin-right:auto;
	grid-template-columns:repeat(12,1fr);

	}
	



#page-title{
	 font-weight:bolder;
	 font-size:24px;
 }
 
 
 body{	
	
	background-color:#efeff6;
	}
	
	
	#content{
		padding:0px 5px 0 5px;
		grid-column:5/-1;
	}
	
	#sidebar{
		padding-top:20px;
		padding-left:50px;
		display:flex;
		flex-direction:column;
		grid-column:1/5;
		border-right:solid 0.5px black;
	    background-color:#f9f9f9;
	}
	
	#sidebar div{
		border:collapse;
		margin:20px 0 0 20px;
		
		
	}
	
	#sidebar div:hover{
		background-color:#a4f2cc;
		cursor:pointer;
		max-width:60%;
		border-radius:5px;
	}

	
	#sidebar div>a{
		text-decoration:none;
		color:black;
		font-size:16px;
		
	}
	
	
	#theme-settings-container{
		margin-left:2px;
		margin-right:2px;
	}
	
	#theme-settings-container>img{
		width:40px;
		height:30px;
		
	}
	
	
	#dropdown>img{
		height:30px;
		width:30px;
		border-radius:2px;
	}
	
	/*dropdown creation*/

	#dropdown{
		padding:5px 20px 0 0;
		display:inline-block;
		right:1200px;
		position:fixed;
	}
	
	#dropdown-content{
		display: none;
		position: absolute;
		background-color: #f9f9f9;
		min-width: 250px;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		padding: 12px 16px;
		z-index: 1;
		border-radius:5px;
	}
	
	#dropdown-content>div{
		border:collapse;
		margin: 5px 0 5px 0;
	}
	
	#dropdown:hover #dropdown-content{
		display:block;
	}
	
	.dropdown-div{
	  border:collapse;
	  border-width:100%;
	  padding:5px;
	  
	}
	
	.dropdown-div a{
		text-decoration:none;
		color:black;
		font-weight:bold;
	}
	
	.dropdown-div:hover{
		background-color:#a4f2cc;
	}
	
	
	 /*end of dropdown css section */
	
	
	#header{
		
		display:flex;
		justify-content:space-evenly;
		align-items:center;
	    padding:10px;
		border-bottom: solid 2px black;
		font-size:16px;
		
		
	}
	
	#header-img-container{
		
		display:flex;
		justify-content:center;
		align-content:center;
		margin-right:2px;
	}
	
	
	
	#header-img-container>img{
		height:50px;
		width:50px;
		border-radius:10px;
		margin-right:5px;
		
	}
	
	
	#content{
		margin:50px;
		display:flex;
		flex-direction:column;
		flex-wrap:wrap;
		padding: 5px 0;
		
	}
	
	#content section{
		margin:20px 0 20px 0;
	}
	
	#content section>h2{
		margin:10px 0 10px 0;
	}
	
	#header>#header-img-container span{
		padding:15px 0 0 5px;
		
		
	}

	
}